<div class="comprador center-block">
  <%= form_for(@comprador, html: { class: "form-horizontal", role: "form" }) do |f| %>
    <% if @comprador.errors.any? %>
      <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        <ul>
        <% @comprador.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :nome, class: "" %>
        <%= f.text_field :nome, class: "form-control", placeholder: 'SEU NOME' %>
    </div>
    <div class="form-group">
      <%= f.label :email, class: "" %>
        <%= f.text_field :email, class: "form-control", placeholder: 'SEU E-MAIL' %>
    </div>
    <div class="form-group">
      <%= f.label :telefone, class: "" %>
        <%= f.text_field :telefone, class: "form-control cel-mask", placeholder: 'SEU TELEFONE' %>
    </div>
    <div class="form-group">
      <%= f.label :senha, class: "" %>
        <%= f.password_field :senha, class: "form-control", placeholder: 'SUA SENHA' %>
    </div>
    <div class="form-group">
      <%= f.submit "Cadastrar", class: "btn btn-success center-block" %>
    </div>
  <% end %>
</div>
