<div class="page-header">
  <%= link_to compradors_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t 'buttons.back' %>
  <% end %>
  <%= link_to edit_comprador_path(@comprador), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    <%= t 'buttons.edit' %>
  <% end %>
  <h1><%= t 'buttons.show' %> comprador</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @comprador.nome %></dd>

  <dt>Email:</dt>
  <dd><%= @comprador.email %></dd>

  <dt>Telefone:</dt>
  <dd><%= @comprador.telefone %></dd>

</dl>
