<div class="page-header">
  <%= link_to edit_comprador_path(@comprador), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    <%= t 'buttons.edit' %>
  <% end %>
  <h1> Minha Conta</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @comprador.nome %></dd>

  <dt>Email:</dt>
  <dd><%= @comprador.email %></dd>

  <dt>Telefone:</dt>
  <dd><%= @comprador.telefone %></dd>
  <br>

  <dt><h3>Pedidos</h3></dt>
    <%= render 'compradors/pedidos' %>
</dl>
