<div class="page-header">
  <%= render 'shared/notice' %>
  
  <h1>Lista de pedidos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Comprador</th>
        <th>Ingresso</th>
        <th>Pago</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @pedidos) do |pedido| %>
        <td><%= pedido.comprador.nome %></td>
        <td><%= pedido.ingresso.nome %></td>
        <td><%= pedido.pago == true ? "Pago" : "Não Pago" %></td>
        <td><%= link_to "#{t'buttons.show'}", admin_pedido_path(pedido) %></td>
        <td><%= link_to "#{t'buttons.destroy'}", admin_pedido_path(pedido), method: :delete, data: { confirm: "#{t'confirm'}" } %></td>
      <% end %>
    </tbody>
  </table>
</div>
