<div class="page-header">
  <%= render 'shared/notice' %>
  
  <%= link_to admin_pedidos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Mostrar Pedido</h1>
</div>

<dl class="dl-horizontal">
  <dt>Comprador:</dt>
  <dd><%= @pedido.comprador.nome %></dd>

  <dt>Ingresso:</dt>
  <dd><%= @pedido.ingresso.nome %></dd>

  <dt>Pago:</dt>
  <dd><%= @pedido.pago == true ? "Pago" : "Não Pago" %></dd>

</dl>
