<div class="login center-block">
  <div class="row">
    <div class="text-center">
      <h1>Area Administrativa</h1>
    </div>
  </div>
  <div class="row row-margin">
    <%= form_for("login", html: { class: "form-horizontal form-login", role: "form" }) do |f| %>
      <%= render 'shared/login_error' %>

      <div class="form-group">
        <div class="col-sm-12">
          <%= f.email_field :email, class: "form-control", placeholder: "Insira seu e-mail" %>
        </div>
      </div>
      <div class="form-group center-block">
        <div class="col-sm-12">
          <%= f.password_field :senha, class: "form-control", placeholder: "Insira sua senha" %>
        </div>
      </div>
      <div class="form-group submit-box">
        <%= f.submit 'Logar', class: "btn center-block submit-login" %>
      </div>
    <% end %>
  </div>
</div>
