<%= render 'admin/shared/verify_action', instance: @comprador %>

<%= form_for(@comprador, url: {controller: 'admin/compradors', action: @action_method}, html: { class: "form-horizontal", role: "form" }) do |f| %>
    <%= render 'shared/error', instance: @comprador %>

  <div class="form-group">
    <%= f.label :nome, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nome, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :telefone, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :telefone, class: "form-control cel-mask" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :senha, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.password_field :senha, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
