<div class='contato'>
  <div class="col-xs-12 col-sm-6 network-box">
    <h4>Siga nos nas redes socias:</h4>
    <h5> 
      <%= link_to "" , class: 'contact-link' do%>
        <%= image_tag 'face', size: '30x30'%> <span class= 'face'> Facebook</span>
      <% end %>
    </h5>
    <h5> 
      <%= link_to "" , class: 'contact-link' do %>
        <%= image_tag 'twitter', size: '30x30'%> <span class= 'twitter'> Twitter</span>
      <% end %>
    </h5>
  </div>
  <div class="col-xs-12 col-sm-6 contact-box">
    <h4>Entre em contato para saber mais!</h4>
    <h5>
      <%= link_to "" , class: 'contact-link' do %>
        <i class="glyphicon glyphicon-envelope"></i> <span class='email'>Email: contato@email.com</span></h5>
      <% end %>
    <h5> 
      <%= link_to "" , class: 'contact-link' do %>
        <%= image_tag 'whats', size: '30x30'%> <span class= 'whats'> Whatsapp</span>
      <% end %>
    </h5>
  </div>
</div>

<div class='col-xs-12 copyright-box text-center'>
  <p><small>Copyright 2018 - www.socialwave.com.br - All Rights Reserved</small></p>
</div>
