<%= form_for(@pedido, html: { class: "form-horizontal", role: "form" }) do |f| %>
    <%= render 'shared/error', instance: @pedido %>

  <div class="announce-box well center-block">
    <div class="img-box">
      <%= image_tag @imagem, class: 'center-block announce-image img-resposive' %>
    </div>
    <div class="caption center-block text-center">
        <h3><%= @ingresso.nome %></h3>
        <p> <%= l (@ingresso.data), format: :short %></p>
        <br>
    </div>
  </div>

  <div class="form-group">
    <%= f.hidden_field(:comprador_id, value: @comprador.id) %>
    <%= f.hidden_field(:ingresso_id, value: @ingresso.id) %>
    <div class="col-sm-12 text-center row-margin">
      <div class="comprar-box center-block">
        <h3>Preço: <%= number_to_currency(@ingresso.preco) %></h3>
        <br>
        <%= render 'pedidos/submit_form', f: f%>
      </div>
    </div>
  </div>
<% end %>
